<% title @list.name %>

<p id="notice"><%= notice %></p>

<div id="left_column">
  <div class="list standard_title">
    <h1><%= @list.name %></h1>
    <div class="owner">Created by <%= link_to current_user.name, current_user %></div>
    <div class="description"><%= m @list.description %></div>
  </div>
  
  <div class="edit_list_form">
    <%= render 'form' %>
  </div>

<!-- TEMPORARY -->
<div class="add-fact-form" <%= hide %>>
  <h3>Add New Fact</h3>
  <%= form_for(@fact) do |f| %>
    <% if @fact.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@fact.errors.count, "error") %> prohibited this fact from being saved:</h2>
             
        <ul>
        <% @fact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field name">  
      <%= f.text_field :name, :placeholder => 'Name (front)' %>
    </div>
    
    <div class="field definition">
      <%= f.text_field :definition, :placeholder => 'Definition (back)' %>
    </div>
    
    <div class="description">
      <%= f.text_area :description, :placeholder => 'Description (for extra information)' %>
    </div>
    
    <%= hidden_field_tag :list_id, @list.id %>
  
    <div class="actions">
      <%= f.submit %>
      <a href="" class="cancel_new_fact">cancel</a>
    </div>
  <% end %>
</div>
<!-- /TEMPORARY -->
  
  <ul class="standard_list fact_list" id="facts" data-update-url="<%= sort_lists_url %>">
    <% save = nil %>
    <% @facts.each do |t| %>
      <% next if save == t %>
      <li id="fact_<%= t.id %>" class="clearfix">
        <a href="<%= '/lists/'+@list.id.to_s+'/facts/'+t.id.to_s+'/remove' %>" class="delete">
          <%= image_tag 'delete.png' %>
        </a>
        <h2>
          <span class="position">
            <%= echo_position t.listizations, @list %>
          </span>
          <span class="handle">
            三
          </span>
          <%= link_to t.name, '/lists/'+@list.id.to_s+'/facts/'+t.id.to_s %>
        </h2>
        <% save = t %>
      </li>
    <% end %>
  </ul>

</div>

<div id="right_column">  
  <div class="edit_list_button">Edit list</div>
  
  <%= link_to 'Delete list', @list, :confirm => 'Are you sure?', :method => :delete, :class => 'delete_list_button' %>
  
  <a href="" class="blue_button new_fact_button">Add new fact</a>
  
</div>
