<% title @list.name %>

<p id="notice"><%= notice %></p>

<div id="left_column">
  <div class="list standard_title">
    <h1><%= @list.name %></h1>
    <div class="owner">Created by <%= link_to current_user.name, current_user %></div>
    <div class="description"><%= m @list.description %></div>
  </div>
  
  <div class="edit_list_form">
    <%= render 'form' %>
  </div>

  <%= render 'add_fact.html.erb' %>
  
  <ul class="standard_list fact_list" id="facts" data-update-url="<%= sort_lists_url %>">
    <% save = nil %>
    <% @facts.each do |t| %>
      <% next if save == t %>
      <li id="fact_<%= t.id %>" class="clearfix">
        <a href="<%= '/lists/'+@list.id.to_s+'/facts/'+t.id.to_s+'/remove' %>" class="delete">
          <%= image_tag 'delete.png' %>
        </a>
        <h2>
          <span class="position">
            <%= echo_position t.listizations, @list %>
          </span>
          <span class="handle">
            三
          </span>
          <%= link_to t.name, '/lists/'+@list.id.to_s+'/facts/'+t.id.to_s %>
        </h2>
        <% save = t %>
      </li>
    <% end %>
  </ul>

</div>

<div id="right_column">  
  <div class="edit_list_button">Edit list</div>
  
  <%= link_to 'Delete list', @list, :confirm => 'Are you sure?', :method => :delete, :class => 'delete_list_button' %>
  
  <a href="" class="blue_button new_fact_button">Add new fact</a>
  
</div>
