<% title false %>

<section class="activity">
  <% if !@feed_items.empty? %>
    <% @feed_items.each do |a| %>
      <div class="a">
        <div class="created"><%= time_ago_in_words(a.created_at) %> ago</div>
        <% if a.list && !a.mnemonic %>
          <%= link_to a.user.name, a.user %> 
          <%= a.verb %> 
          <%= link_to a.list.name, a.list %>
        <% elsif a.mnemonic %>
          <%= link_to a.user.name, a.user %>
          added a mnemonic to
          <% if a.list %>
            <%= link_to a.fact.name, '/lists/'+a.list.id.to_s+'/facts/'+a.fact.id.to_s %>
            in <%= link_to a.list.name, a.list %>
          <% else %>
            <%= link_to a.fact.name, a.fact %>
          <% end %>
          <p><%= a.mnemonic.body %></p>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h3 class="people_to_follow">People to follow:</h3>
    <ul class="people_to_follow">
    <% @users.each do |u| %>
      <li>
        <h2><%= link_to u.name, u %></h2>
        <h5><%= u.neurons %> neurons, joined <%= time_ago_in_words(u.created_at) %> ago</h5>
      </li>
    <% end %>
    </ul>
  <% end %>
</section>

<aside>
  <div class="list">
    <h3>Lists</h3>
    <ul>
      <% @user_lists.each_with_index do |l, i| %>
        <li><%= link_to l.name, l %></li>
        <% if i == 5 %>
          <li><%= link_to 'More…', 'users/'+current_user.id.to_s+'/lists' %></li>
          <% break %>
        <% end %>    
      <% end %>
    </ul>
  </div>
</aside>