<h1>Listing mnemonics</h1>

<table>
  <tr>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mnemonics.each do |mnemonic| %>
  <tr>
    <td><%= mnemonic.body %></td>
    <td><%= link_to 'Show', mnemonic %></td>
    <td><%= link_to 'Edit', edit_mnemonic_path(mnemonic) %></td>
    <td><%= link_to 'Destroy', mnemonic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mnemonic', new_mnemonic_path %>
