<div id="left_column">

<section class="knowledge">
  <% @target.elements.each do |e| %>
    <div class="primary">
      <%= e.name %>
    </div>
  <% end %>
</section>

<% first = true %>
<% @mnemonics.each do |m| %>
  <div class="mnemonic <%= (first) ? 'best' : 'regular' %>">
    <div class="heading clearfix">
      <div class="title">
        <%= "Best mnemonic - " if first %><a href="/">Groucho Marx</a>
      </div>
      <div class="score">
        <%= m.score %>
      </div>
    </div>
    <div class="body clearfix">
      <p><%= m.body %></p>
      
      <div class="voting">
        <%= form_for m do |f| %>
          <div class="up submittable">&#9650;</div>
          <%= f.hidden_field :score, :value => m.score.to_i+1 %>
        <% end %>
        
        <%= form_for m do |f| %>
          <div class="down submittable">&#9660;</div>
          <%= f.hidden_field :score, :value => m.score.to_i-1 %>
        <% end %>
      </div>
    </div>
  </div>
  <% first = false %>
<% end %>

<div class="add_mnemonic">
  <h3>Add your own</h3>
  <%= form_for(@mnemonic) do |f| %> 
    <p>
      <%= f.label :body, 'A mnemonic' %><br />
      <%= f.text_area :body, :rows => 4 %>
    </p>
    
    <%= f.hidden_field :target_id, :value => @target.id %>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>

</div>
