<% title false %>

<section id="hook">
  <h1>Cold memorization is hard. So don't do it.</h1>
</section>

<section id="signup">
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <p><%= f.label :email %></p>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <p><%= f.label :password %></p>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <p><%= f.label :password_confirmation %></p>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="actions"><%= f.submit %></div>
  <% end %>
</section>