<% title @user.name %>

<section id="introduce_yourself" class="clearfix">
  <h1><%= @user.name %></h1>
  <div id="lists" class="count">
    <h2><%= @user.lists.count %></h2>
    <h3>Lists</h3>
  </div>  
  <div id="mnemonics" class="count">
    <h2><%= @user.mnemonics.count %></h2>
    <h3>Mnemonics</h3>
  </div> 
  <div id="lists" class="count">
    <h2><%= @user.neurons %></h2>
    <h3>Neurons</h3>
  </div>
  
  
  <div class="stats">
    <table summary="User stats">
      <tr>
        <td>
          <a href="<%= following_user_path(@user) %>">
            <span id="following" class="stat">
              <%= @user.following.count %> following
            </span>
          </a>
        </td>
        <td>
          <a href="<%= followers_user_path(@user) %>">
            <span id="followers" class="stat">
              <%= pluralize(@user.followers.count, "follower") %>
            </span>
          </a>
        </td>
      </tr>
    </table>
  </div>
  
  <% unless current_user == @user %>
    <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
    </div>
  <% end %>
  
</section>

<section id="activity">
  <% @activities.each do |a| %>
    <div class="a">
      <% if a.list && !a.mnemonic %>
        <%= link_to a.user.name, a.user %> 
        <%= a.verb %> 
        <%= link_to a.list.name, a.list %>
      <% elsif a.mnemonic %>
        <%= link_to a.user.name, a.user %>
        added a mnemonic to
        <% if a.list %>
          <%= link_to a.fact.name, '/lists/'+a.list.id.to_s+'/facts/'+a.fact.id.to_s %>
          in <%= link_to a.list.name, a.list %>
        <% else %>
          <%= link_to a.fact.name, a.fact %>
        <% end %>
        <p><%= a.mnemonic.body %></p>
      <% end %>
    </div>
  <% end %>
</section>

<section id="lists">
  <% @lists.each do |l| %>
    <div class="l">
      <%= link_to l.name, l %>
    </div>
  <% end %>
</section>
