<h3>Add to a List</h3>

<%= form_for(@fact) do |f| %>
  <% if @fact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fact.errors.count, "error") %> prohibited this fact from being saved:</h2>
           
      <ul>
      <% @fact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= select_tag("add_fact_to_list", options_from_collection_for_select(@user_lists, :id, :name)) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
