<%= form_for(@fact) do |f| %>
  <% if @fact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fact.errors.count, "error") %> prohibited this fact from being saved:</h2>
           
      <ul>
      <% @fact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>  
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
  </p>

  <p>  
    <%= f.label :definition %><br />
    <%= f.text_area :definition %><br />
  </p>
  
  <p>  
    <%= f.label :description %> (only shown in non-flashcard mode)<br />
    <%= f.text_area :description %><br />
  </p>
  
  <%= collection_select(:fact, :field_id, Field.all, :id, :name) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
