<%
if session[:cardview] == 'front' || session[:cardview] == 'off'
  title @fact.name
else
  title @fact.definition[0,10]
end 
%>

<div id="left_column">

<!--
<section class="guide">
  <h2></h2>
</section>
-->

<section id="front" <%= view_display_none? 'front', @list.nil? %>>
  <div class="knowledge clearfix">
    <div id="card_front">
      <h1><%= @fact.name %></h1>
    </div>
  </div>
  <div class="return_to_center">
    Show card
  </div>
</section>

<section id="back" <%= view_display_none? 'back', @list.nil? %>>
  <div class="knowledge clearfix">
    <div id="card_back">
      <h1><%= m @fact.definition %></h1>
    </div>
  </div>
  <div class="return_to_center">
    Show card
  </div>
</section>

<section id="center" <%= view_display_none? 'off', @list.nil? %>>

  <div class="knowledge clearfix">
    <div id="card_front">
      <h1><%= @fact.name %></h1>
    </div>
  
    <div id="card_back">
      <h1><%= m @fact.definition %></h1>
    </div>
  </div>

  <div class="description"><%= m @fact.description %></div>

  <div id="mnemonics">
    <h3>How do you remember this?</h3>
    
    <% first = true %>
    <% @mnemonics.each do |m| %>
      <% if m.score < 3 then first = false end %>
      <div class="mnemonic <%= (first) ? 'best' : 'regular' %>">
        <div class="heading clearfix">
          <div class="title">
            <%= "Best mnemonic - " if first %><%= link_to m.user.name, m.user %>
          </div>
          <div class="score">
            <%= m.score %>
          </div>
        </div>
        <div class="body clearfix">
          <p><%= m.body %></p>
          <div class="voting">            
            <% if !m.user_vote(current_user) %>
              <div class="up_vote" data-mnemonic-id="<%= m.id %>">&#9650;</div>
              <div class="down_vote" data-mnemonic-id="<%= m.id %>">&#9660;</div>
            <% else %>
              <div class="up_vote" data-mnemonic-id="<%= m.id %>" <%= hide %>>&#9650;</div>
              <div class="down_vote" data-mnemonic-id="<%= m.id %>" <%= hide %>>&#9660;</div>
            <% end %>
            
            <% if m.user_vote(current_user) %>
              <div class="reverse_up" 
                   data-vote-id="<%= m.user_vote(current_user).id %>" 
                   <%= hide if !m.user_vote(current_user).up %>>&#9651;</div>
              <div class="reverse_down" 
                   data-vote-id="<%= m.user_vote(current_user).id %>" 
                   <%= hide if m.user_vote(current_user).up %>>&#9661;</div>
            <% else %>
              <div class="reverse_up" <%= hide %>>&#9651;</div>
              <div class="reverse_down" <%= hide %>>&#9661;</div>
            <% end %>
            
          </div>
        </div>
      </div>
      <% first = false %>
    <% end %>

    <% if !@moukaita && current_user %>
    <div class="add_mnemonic">
      <h3>Add your own</h3>
      <%= form_for(@mnemonic) do |f| %> 
        <p>
          <%= f.label :body, 'A mnemonic' %><br />
          <%= f.text_area :body, :rows => 4 %>
        </p>
        <% if @list %>
          <%= hidden_field_tag :list_id, @list.id %>
        <% end %>
        <%= f.hidden_field :fact_id, :value => @fact.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>

        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>

</section>

<p id="notice"><%= notice %></p>

</div>

<aside>

  <div id="controls">
    <section id="list_titles">
      <h2><%= link_to @list.name, @list %></h2>
    </section>
    <section id="list_data">
      <p><%= m @list.description %></p>
      <div class="divider"></div>
      <ul>
        <li><strong>Facts:&nbsp;</strong><%= @list.facts.count %></li>
        <li>
          <span id="green_mnemonics"><strong>Green mnemonics:&nbsp;</strong><%= @list.greens %> (<%= @list.greens_percent %>%)</span>
          <span id="bar" style="width: <%= @list.greens_percent*2.4 %>px;"></span>
          <span id="bar_underling"></span>
        </li>
      </ul>
    </section> 
    <h3>Navigation</h3>
    <section id="list_navigation">
      
      <% if @two_back %>
        <div class="two_back">
          <a href="/lists/<%= @list.id %>/facts/<%= @two_back.id %>">
            <span class="position"><%= @two_back.listization(@list).position %></span>
            <span class="name"><%= @two_back.name %></span>
          </a>
        </div>
      <% end %>
      
      <% if @previous %>
        <div class="previous">
          <a href="/lists/<%= @list.id %>/facts/<%= @previous.id %>">
            <span class="position"><%= @previous.listization(@list).position %></span>
            <span class="name"><%= @previous.name %> <!-- &#9664; --></span>
          </a>
        </div>
      <% end %>
      
      <div class="current">
        <a href="/lists/<%= @list.id %>/facts/<%= @fact.id %>">
          <span class="position"><%= @fact.listization(@list).position %></span>
          <span class="name"><%= @fact.name %></span>
        </a>
      </div>
      
      <% if @next %>
        <div class="next">
          <a href="/lists/<%= @list.id %>/facts/<%= @next.id %>">
            <span class="position"><%= @next.listization(@list).position %></span>
            <span class="name"><%= @next.name %> <!-- &#9654; --></span>
          </a>
        </div>
      <% end %>
      
       <% if @two_forward %>
        <div class="two_forward">
          <a href="/lists/<%= @list.id %>/facts/<%= @two_forward.id %>">
            <span class="position"><%= @two_forward.listization(@list).position %></span>
            <span class="name"><%= @two_forward.name %></span>
          </a>
        </div>
      <% end %>

    </section>  
    <h3>
      Key Controls
      <span id="turn_key_bindings_on" <%= hide if session[:key_bindings] %>>turn on</span>
      <span id="turn_key_bindings_off" <%= hide if !session[:key_bindings] %>>turn off</span>    
    </h3>
    <section id="key_bindings" <%= hide if !session[:key_bindings] %> data-key-bindings="<%= session[:key_bindings] %>">
      <div class="key up">&#9650;</div>
      <div class="key left">&#9664;</div>
      <div class="key right">&#9654;</div>
      <div class="key down">&#9660;</div>
      <div class="key shift">shift</div>
    </section>
<!--
    <h3>Owners</h3>
    <section id="owners">
      <a href="/" class="owner clearfix">
        <img src="http://dummyimage.com/30x25/000000/ff00ff.jpg" />
        <span>Jeff Carpenter</span>
      </a>
      <a href="/" class="owner clearfix">
        <img src="http://dummyimage.com/30x25/000000/ff00ff.jpg" />
        <span>El Jefe</span>
      </a>
    </section>
    <h3>Followers</h3>
      <a href="/" class="owner clearfix">
        <img src="http://dummyimage.com/30x25/000000/ff00ff.jpg" />
        <span>Jeff Carpenter</span>
      </a>
      <a href="/" class="owner clearfix">
        <img src="http://dummyimage.com/30x25/000000/ff00ff.jpg" />
        <span>El Jefe</span>
      </a>
-->
  </div>
  
  <% if @list %>
    <div id="card_mode">
      <h4>Flashcard Mode</h4>
      <div class="button_container clearfix">
        <span id="front_mode" class="front <%= 'front_pressed' if session[:cardview] == 'front' %>">front</span>
        <span id="center_mode" class="center <%= 'center_pressed' if session[:cardview] == 'off' %>">off</span>
        <span id="back_mode" class="back <%= 'back_pressed' if session[:cardview] == 'back' %>">back</span>
      </div>
    </div>
  <% end %>
  
  <% if @member_lists %>
    <div class="member_lists">
      <h2>Part of these Lists</h2>
      <ul>
        <% @member_lists.each do |l| %>
          <li><%= link_to l.name, '/lists/'+l.id.to_s+'/facts/'+@fact.id.to_s %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= render 'add_to_list' %>
</aside>
