<!DOCTYPE html>
<html>
<head>
  <title><%= yield (:title) %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div id="top">
    <div class="inner">
	    <div id="login_status">
	      <% if current_user %>
	        Logged in as <%= link_to current_user.name, current_user %>.
	        <%= link_to "Settings", edit_user_path(current_user) %>
	        <%= link_to "Log out", logout_path %>
	      <% else %>
	        <%= link_to "Sign up", signup_path %> or
	        <%= link_to "log in", login_path %>.
	      <% end %>
	    </div>    
	    <h1><a href="/"></a></h1>
	  </div>
	</div>
	<div id="bottom">
	  <div class="inner">
	    <ul>
	      <li><%= link_to "Home", root_path %></li>
	      <li><%= link_to "Lists", lists_path %></li>
	      <li><%= link_to "Facts", facts_path %></li>
	    </ul>
	  </div>
	</div>	  
</header>
<div id="content">
<%= yield %>
</div>
</body>
</html>
