<!DOCTYPE html>
<html>
<head>
  <title><%= yield (:title) %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header <%= hide unless current_user %>>
  <div id="top">
    <div class="inner">
	    <div id="login_status">
	      <% if current_user %>
	        Logged in as <%= link_to current_user.name, current_user %>.
	        <%= link_to "Settings", edit_user_path(current_user) %>
	        <%= link_to "Log out", logout_path %>
	      <% else %>
	        <%= link_to "Sign up", signup_path %> or
	        <%= link_to "log in", login_path %>.
	      <% end %>
	    </div>    
	    <h1><a href="/"><img src="<%= image_path 'lazygenius.png' %>" alt="Lazy Genius" title="Lazy Genius" /></a></h1>
	  </div>
	</div>
	<div id="bottom">
	  <div class="inner clearfix">
	    <ul>
	      <li class="<%= 'selected' if params[:controller] == 'dashboard' %>"><%= link_to 'Dashboard', '/' %></li>
	      <li class="<%= 'selected' if params[:controller] == 'lists' %>"><%= link_to "Lists", lists_path %></li>
	      <li class="<%= 'selected' if params[:controller] == 'users' %>"><%= link_to "People", users_path %></li>
	      <li class="<%= 'selected' if params[:controller] == 'about' %>"><%= link_to "About", about_path %></li>
	    </ul>
	  </div>
	</div>	  
</header>
<div id="content">
<%= yield %>
</div>

<% if Rails.env == "production" %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29891995-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
<% end %>

</body>
</html>
